out Привет, с какой целью тут?
in Здравствуйте молодой человек. Я здесь ради забавы
in А вы?
out Ой как официально
out Я тут по той же причине, стало грустненько и скучно
in Ты здесь по другой причине
out С чего вы позволили себе сделать такой вывод?
in Ахах потому что это моя причинв
out Смею заметить, что причина-&gt;вещь абстрактная, и застолбить её нельзя
in Азахазаа убедил
in Ты такой умный
out Аааа, это что, подлизывание
in Нет
in Это комплимент
out Выглядит все же как подлизывание или сарказм)
in Ахахахах подлизываться это не в моих правилах
out Ладно-ладно, поверю вашим словам. Однако моя не понимать, что вызвало такое мнение обо мне?
out Можешь дать мне ссылку на свой профиль в Instagram?
in Конечно! https://instagram.com/
in Да блять... Просто поблагодари меня
out Ууу, закрытый аккаунт. БлагоДарю
in Ахах подпишись
out Уууу, развод на подписки
in Ахахазп нет
out Следствию нужны доказательства, просто словам мы не верим
in Ты должен мне верить
in Ведь я Такая хорошая
out Я имени твоего не знаю, не видел даже по фоточкам, вживую не общались, так что есть сомнения. Вдруг ты вообще 40летний мужик, который обманывает маленьких мальчиков
in Мне почти 19
in И я не мужик
out Следствию всё ещё нужны доказательства
in Просто верь мне детка
out Вот в прошлый раз меня так же обманывали
out Слово в слово
in Ахахаахахахахахааха серьезно?!
out Да*сарказм*
in Ну вот видишь
out Не вижу
out Я мб слепой
in Может быть
out Хм
out Как бы ты описала закат слепому?
in Через звуки.  .через запах..через прикосновения
out Хмм, интересно
in Ну такое.. Несовсем
out Окей, если бы ты попала на необитаемый остров, то кого и что бы ты взяла с собой(по 1 штуке)
in 1)дом 2)мебель 3)дохуя воды 4)самолет 5)топливо 6)тебя<img class="emoji  js-smile-img">
out Ой как мило, только вдруг ты маньячка
out Или маньяк, тут ещё не всё понятно
in Я маньячка
out Неплохо
in Тебе повезло
out Все же я ещё не уверен в этом, давай для начала ты назовешь имя свое
in Я Вичка
out Хмммм, Вика значит
out Приятно познакомиться
in Нет, вичка
out Почему именно вичка
in Потому что вика это звучит как имя проститутки
out Эмм, откуда такие ассоциации?
in Ахахазп была одна шалава вика
out Была? Что с ней стало?
in Не знаю
out Ладно, если бы у тебя была машина времени и возможность исправить 1 ошибку, то чтобы ты сделала?
in Я бы не пошла учиться сюда, а пошла бы на фельдшера
out А где ты учишься?
in Бнту
in А ты?
out Бгуир
in Ммммммммм.. Классный универ
in Наверное <img class="emoji  js-smile-img">
out Наверное
out Но ето не точно
in Ахаз
out Меня очень забавляли мемные войны между универами
in Мне единственный мем нравился , типо что в бнту на атфе страшные бабы
out Такс,я снова тут
out Че кого, что нового с последней встречи?
in Ты ебанулся?
out Всмысле
out Вичка, что за необоснованные доебки?
in Тебе что-то не нравится?!
out Нет-нет, что ты
out Все прекрасно
out Так чё нового
out Вичка
out Что делаешь
in Жду когда откроют кабинет... Чтобы пойти получать какие-то знаниян
in А вы чё делаете?
out На робототехнике робота делал
out Сейчас поллектоса посижу и сваливать буду с уника
in Ахаза правильно.. Я бы на твоем месте вообще  на лекцию не пошла
out На завкафедры лютует
out Да*
out Лучше перестраховаться
in Ахахахах пфф.... Не отчислят же
out Ай, не хочу вынос мозгов получать
out Полпары посижу, покушкаю в столовой
out И домой
in Ахаза правильно.. Одобряю.. Так и сделай
out <img class="emoji  js-smile-img">
out Дороу, всё ещё развлекаешься тут?
in Всегда жду от тебя с Сообщения
in Ради тебя захожу
out Ммм, как приятненько
out Прям чувствовал что надо зайти
in Хаахахп <img class="emoji  js-smile-img">
out Че кого? Что новенького? С кем-то кроме меня развлекаешься? Изменяешь мне?
in Только с тобой... Ахахаах больше никого нет, зуб даю
out Что-то я слышу иронию в этом сообщении
in Нет её
out Докажи
in Ахах я ничего не доказываю
out Блин,даже на слабо не получится взять?
in Получится
out Слабо доказать?*хоть бы не обманула*
in Как нехуй. Щас
out Чувствую подвох
in Не
out Сделаем вид что я поверил, а ты верная жена
in Ахахаах хорошо
out Такс, Вичка
out Как доебаться до тян в инете, с которой не виделся по поводу наличия у неё парня и чтобы это не выглядело по уебански
in Ахаза короче спроси "ох и повезло твоему парню с такой девахой"
in Напиши*
out Ох и повезло твоему парню с такой девахой
in Да.. Повезло же <img class="emoji  js-smile-img">
in Тебе <img class="emoji  js-smile-img">
out Ой как мило<img class="emoji  js-smile-img">
out Дай тогда ВК чтолб
in Ахахазп думаешь уже пора?
out Мама говорила до брака ВК не брать
out Ну вот мы уже и женаты
in Ахаза ну дай ссылочку
out Давай ты
out Все же я муж
in И? <img class="emoji  js-smile-img">
out Не знаю, думал это сработает как аргумент
out Вообще могу попробовать вычислить тебя
out Если кину твою ссылку
out То давай напишешь честно что это твоя счылка
out У тебя фамилия на Я или на Х начинается
out ?
in Ахаза  а как ты вычисляешь?
out Скажи на какую букву фамилия
in Скажи как?
in Х
out Хммм
out Точно х
in Да
out Ладно, чисто наугад ссылку кинуть, но профиль ВК давно никто не заходил
out https://vk.com/id
out Угадал?
out Иль нет
out Наверное нет(
in Ахаза а почему ты не рассматриваешь вариант, что моя фамилия на С?)
out На Я
out Или на Х
out А С не знаю
out Сейчас перепроверю
out Скажи вначале
out Угадал или нет
out Только честно
in Ну ты же ищешь через инессу?)
out Да
out Не по звёздам гадаю же
in Фамилия на Я
out Вот и как теперь верить, то 1 говоришь, то другое
in Мне было интересно узнать, что за баба с фамилией на З
in Х*
out Блин, меня посадят за то что жена маленькая
in Ахахаах типо обоюдное согласен
in Согласие
out Только если документально заверенное
out )
in Ахахаах щас напишу
in Печать надо?
in А
out Нет, расписки хватит
in Не подскажешь как она пишется?
out Подсказать то могу, но она работает только если тебе 1 6 ест
in Ахахаха она должна подойти и для 12
out Нит
in Ахаза бля.. Ну не судьба значит
out Да, печально
in Плак-плак