out Привет <img class="emoji  js-smile-img">
in Здаров<img class="emoji  js-smile-img">
out Как жизнь? Чем занимаешься? Что побудило создать аккаунт тут?)
in Жизнь стандартная,со своими нервами и прелестями)Я готовлюсь стать старостой,морально) Что побудило...Наверно опыт общения с различными людьми,начинаю уверенней общаться по жизни)
out Ой жизненно) а старостой сама решила стать? И где учишься?
in Лингвистический минский
in Не знаю ещё точно,возможно и не стану
in Но попробовать интересно
out Я как то думал про должность старосты, для меня слишком много ответственности, отвечать за всех ..
in Попробую может получится)
in Учишься?)
out Да, 3 курс буду уже)
in Воу,я второй!
in На кого мучаешься?)
out На тыжпрограммиста)
out Но как то понял что это не мое
out Буду пытаться в сферу ux уходить
in Ээ дизайнер да?
in Умно ли с третьего курса?
in Просто интересно)
out Да нормально, изучить литературу, потестить прогу, и на стажировку попробовать
out А чем в свободное время любишь заниматься?
in Да по разному,погулять,почитать,фильмец осилить,рисую(так,для себя),игрушку погонять
in Много чем занять себя можно)
out А рисунком для себя занимаешься, или училась где-то?
in Для себя
in Отучилась я только 5 лет в музыкалке
in фртепиано)
out Это круто
out Я за что ни брался, все потом бросал
out Есть желание завтра погулять?
out А что за игрушку гоняешь, кстати?
in Я б с радостью,но в Минске я буду ближе к субботе,может в субботу и погуляем?Если сможешь/захочешь)
in Я по старью) Готику люблю,nfs(most wanted),Фараон-Клеопатра,ну и стратегии(телефон) типа clash of kings<img class="emoji  js-smile-img">
out Да, можно в субботу. У меня планов вроде нет
out А я из игр больше по сессионкам онлайновым больше. Ну или тоже старье)
in лан,я спать уже) Сочной<img class="emoji  js-smile-img">
out Сладкий снов)
out Привет<img class="emoji  js-smile-img">
in Хош не верь,но инет появился ток сегодня)
out Лол) Как же ты выжила в 21 веке без интернета?
in Ой больно былооо
in Особенно в универе
in Прям соложно<img class="emoji  js-smile-img">
out А где учишься?
in Лингвистический
out Воу, классно. Какие языки знаешь?)
in Пока русский)
in Англ учу
in И арабский в этом взяла
out А арабский брала из личных предпочтений или просто так выбрала?
in Все вместе
in Сначала китайский хотела
in Но не пролезла,ибо желающих много
in Поэтому вот так вот
in Решила,что мне подойдет
out А сейчас что делаешь? Какие планы на завтра?
in Сегодня у одногруппницы др,праздновать будем)
in Завтра свободна,вроде как
out Ой с праздником её от меня поздравь
out Есть желание погулять завтра?
in Хорошо)
in А пошли)
in Почему б и нет?)
out Вот и я так думаю)
out Можно с собой по ножику взять, ведь и ты и я можем оказаться маньяками)
in Аххах<img class="emoji  js-smile-img">
in В общаге ножей мало,я вилку возьму
in Она эффективней)
out Года не бойся, бойся вилки, 1 удар - 4 дырки
out Ножа*
in Именно<img class="emoji  js-smile-img">
out Привет
in Привет)
out Через часик пойдешь гулять?
in Давай два
in Я ток проснулась)
out Тогда доброе утро)
out Отпишешь тогда
out Мб в вк если что, а то уведомления тут плохо приходят
in А встретимся где?
in Ща
in https://vk.com/id