out Привет)
in Привет)
out Как дела? Что побудило зарегистрироваться тут?
in Дела в порядке
in Хотя могли быть и лучше
in Если б не учеба<img class="emoji  js-smile-img">
in Да от балды так то зарегалась, почему нет, пообщаться чисто<img class="emoji  js-smile-img">
out Согласен, общение это топ
out Как свободное время любишь проводить?
in Ну в принципе как и все<img class="emoji  js-smile-img">
in Гулять, ходить куда или просто сидеть дома и залипать в телефон<img class="emoji  js-smile-img">
out Я тоже погулять люблю, но что-то погода чудит
out Холодно на улице, холодно в квартире, пледиком греюсь)
out Кстати, как ты опишешь закат слепому?
in Интересный вопрос
in Сложно очень <img class="emoji  js-smile-img">
out Сложно, но от этого не менее интересно)
out Неужели в тупик поставил эти вопросом?
in Есть такое<img class="emoji  js-smile-img">
in И так шарага мозговину вынесла
in Так и ты ещё добавил<img class="emoji  js-smile-img">
out Да, я могу. Могу блиц опрос из странных вопросов устроить
in Пхахахахах, не стоит<img class="emoji  js-smile-img">
in У меня и так передоз памяти
out Ну ладно-ладно, не буду
in Благодарочка <img class="emoji  js-smile-img">
out Все для тебя
in :3