out Привет<img class="emoji  js-smile-img">
in Привет
out Как дела? Чем занимаешься? Да и что побудило тебя тут зарегистрироваться?)
in Хорошо ) домой еду Как говорится "это было давно и не правда "<img class="emoji  js-smile-img" src="data:image/gif;base64,R0lGODlhBQAFAIAAAP///wAAACH5BAEAAAAALAAAAAAFAAUAAAIEhI+pWAA7" data-emoji-code="1f605" alt="" role="presentation" unselectable="on"> ну или просто от скуки)
in Твои как ?) И ты чего ?
out Да тоже хорошо. Проснулся только) А аккаунт создал, ибо приехал я в Минск, а все знакомые в разъездах, вот и решил тут поискать с кем бы погулять)
out Катя, а чем ты увлекаешься? Как время любишь проводить?
in А сам откуда ? Жить в Минск или просто ?)
in Ну увлечений как таковых нету , люблю гулять, сериалы, каток )
out Сам я с маленького, но от того не менее прекрасного, города Берёза. А так учусь тут, 3 курс уже буду. Ездил домой на время август просто)
in Не слышала, понятненько)
in А где учишься?
out БГУиР
out А ты учишься или работаешь может уже?
in А специальность?
in Учусь
out ИПОИТ специальность моя) а ты где учишься?
in Колледж торговли
out А какие сериалы предпочитаешь? Что смотрела в последний раз?
in Древние, я зомби, база Куантико, Чернобыль, Мажор, вот эти пришли на ум  первые <img class="emoji  js-smile-img" src="data:image/gif;base64,R0lGODlhBQAFAIAAAP///wAAACH5BAEAAAAALAAAAAAFAAUAAAIEhI+pWAA7" data-emoji-code="1f605" alt="" role="presentation" unselectable="on">
in А у тебя какие?)
out Не смотрел ни 1 из этих, но слышал о них. А я вот из любимых могу назвать:<br>
Игра престолов, острые козырьки, викинги, Гримм( очень ламповый сериал), бешеные псы, настоящий детектив (1 сезон), конец этого ебаного мира + 13 причин почему(1 сезон) меня прямо на слезу пробили)
out А, ещё по вселенной Марвел сериалы в целом неплохие
out Смотрела что-нибудь из этого?
out Есть подозрение, что ты легла спать. Поэтому спокойной ночи)
in Слышала , но не смотрела <img class="emoji  js-smile-img">
in 13 причин почему начинала смотреть, но первые серии не впечатлили, поэтому кинула, игра престолов слишком много сезонов, Гримм тоже отрывками пару серий,
in Спать я скоро собираюсь, но ещё туть)
out Ладно, тогда если что до завтра) Сладких снов)
in Спокойной ночи)
out Привет)
in Привет
out Что делаешь?
in В деревню вот приехала
in Ты чем маешься ?
out Да сижу дома, слежу чтобы ремонт делали)
in Хех) понятно понятно)
out Да начальник рабочих приехал, отругал кого-то и остался тут тоже) я поэтому подумал пойти прогуляться, тебя думал позвать)
in Ну не судьба )
out Ох уж эта судьба, не даёт шанса)
in Как есть
out Привет<img class="emoji  js-smile-img"> Как в деревню съездила?
in Привет
in Хорошо
in Твои как дела б
in ?
out Да все прекрасно вроде, сижу, отдыхаю, морально готовлюсь к понедельнику
out )
in Хех) готовься )
out У вас были сегодня уже занятия?
in Практика была
out И как? Тяжело?
in Ну немного устала