out Привет
in Привет
out Как жизнь? Что побудило зарегистрироваться тут?
in Не очень
in А у тебя?
in Скучно было
in А тебя?
out Да вроде все классно, но чет грустненько. Да тоже скучно было, решил познакомиться с новыми людьми
out Чего не очень кстати, если не секрет? Может смогу дать свой суперважный совет
in Накопилось просто
in Сижу и <img class="emoji  js-smile-img">
out Так когда накопилось, по личному опыту, лучшего всего выговориться
out Блин, посмотрел на плачущий смайлик, и что-то печальку словил
in Да я по учёбе
in Надоело всё
in Когда у нормальных людей 2 выходных
in У меня 1
in И то
in Я бы не назвала это выходным
out Ля, так 2 года отучился. А где учишься? И почему выходной не выходной?
in Я вообще из Бреста
in И учусь в Бресте
in В колледже
in Да потому что я в субботу иду гулять вечером, а в воскресенье надо к парам готовиться
out А ты сейчас приехала в Минск? А то у тебя в профиле написано местоположение-&gt;Минск
out Много задают?
in В Бресте я
in Надоели люди с Бреста
in Много
out Так наоборот же классно, можно встретиться вживую, поговорить с человеком
in В Бресте нету нормальных
in Ну
in Я через 2 года поеду в Минск
in Учиться
in В универе
out Лол, везде есть неадекваты, и нормальные люди везде есть
out Может просто не повезло, попадались неадекватные
out В какой уник хочешь поступать?
in МГЛУ
in А ты где учишься?
out БГУИР, но учебой это сложно назвать. Кстати про мглу, там по 2 выходных, но говорят много задают
in Мне сейчас тоже много задают
out Значит можно сказать ты уже готова к универу)
in Да
out А чем увлекаешься? Как свободное время проводишь, когда оно есть?
in Сейчас его очень мало
in Гуляю
in Сплю
in Вообще я пою
in Баскетбол нравится очень
in И я в него иногда играю
in А ты?
out Поешь, это классно. Я гулять люблю, общаться, посмотреть что-нибудь
out Начал учить для потенциальной работы штуки всякие
out В баскетбол не играл, только в 33 играю иногда
in Неплохо
in Эм....
out ???
out Может он Человек-амфибия
in Ааа
in Ну да
out Или русалка
in Точно
in Как я не поняла сразу
out Я просто сам русалка, поэтому своего собрата распознал
in Уау
in А где такая же фотка, как у него?
out Вообще нам русалочий кодекс не разрешает выдавать себя
in Я никому не скажу
out Спасибо
in Не за что
out Я сразу понял, что тебе можно доверять
in Благодарю
out Хмм, устроим блиц опрос
out Как ты опишешь закат слепому?
in Почему вопросы такие сложные?
out Зато интересные
out Ну или необычные хотя бы )
in Ну да
in Необычно
in Я прям влюбилась
out Как приятненько
out Выходи за меня тогда<img class="emoji  js-smile-img">
out Это кольцо если что
out Таки что, ответишь на вопрос?
in Я не знаю как это описать
out Ассоциациями мб, ладно. Тогда если бы ты попала на необитаемый остров, то кого(1штука) и что(1штука) ты бы взяла с собой?
in Тебя и плед
in Мне просто всегда холодно
out Воу, а почему меня? Вдруг я маньяк
out Психопат
out Или ещё кто
in Ахахаха
in Ну просто
out Неплохой ответ, впринципе мы были на равных, мб ты маньячка тоже
in Нет
out Вот уверен
out Все маньяки говорят "нет, я не маньяк"
out Так ладно
out Если бы ты была животным, то каким?
in Пума
out Почему именно пума?
in Ну нравится она
out Если бы у тебя была машина времени и возможность исправить 1 ошибку, то чтобы ты сделала?
in Ничего
in Что было, то было
in А ты?
out Да тоже ничего, хотя мб в школе девушке, которая нравилась, признался бы в чувтсвах. С другой стороны все, что было, сделало меня тем, кто я есть
in <img class="emoji  js-smile-img">
in Молодец
out Эта самая странная вещь, за которую я получал комплимент)
in <img class="emoji  js-smile-img">
in Бывает