in Привет, Иван <img class="emoji  js-smile-img">
out Привет. Пытаюсь заняться чем-нибудь полезным, но как-то не очень получается<img class="emoji  js-smile-img">
in Да ничем и
in Хочу найти друзей (мб парня) Но я младше всех
out Ну возраст по-моему не самое главное от слова совсем
out А если ищешь друзей, можем встретиться, погулять сегодня
in Я не могу сегодня Очень занята
out Ну не сегодня) Аня, а как ты любишь свободное время проводить?
in Вообще люблю гулять Ну а если погода не позволяет, то что-нибудь с сестрой придумываем
in А ты чем?
out Прогулки, музыку слушать люблю. Смотрю сериалы, Ютуб. Раньше читать любил, а сейчас только если что-то полезное для потенциальной работы могу почитать
in Сколько тебе лет?
out Ну и общение люблю, не когда компания большая, хотя и это круто, а 1 на 1, человека гораздо лучше узнаешь
out 19
out Не знаю, корректно ли у девушки узнавать возраст, поэтому оставлю тебе этот вопрос
in 15<img class="emoji  js-smile-img">
out <img class="emoji  js-smile-img">