in Привет, Иван <img class="emoji  js-smile-img">
out Привет, Ася. Все классно, как твои? Выбирай: странное или серьёзное?
in отлично)
in черт сложный выбор
in сначало странное
out Как бы ты описала закат слепому?
in ну, если я начну писать, то выйдет много
in всё зависит от места
in я бы описывала каждую деталь
out Так и запишем: подопытная следит за деталями
out С каким животным ты себя ассоциируешь?
in я что, в очереди в психушку?<img class="emoji  js-smile-img">
out Все может быть, пациентка номер 2
out Не отвлекайтесь и отвечайте на поставленные вопросы
in а есть первая?)
out Есть и нулевая даже
in ого
in и -1?
out Нет
out Я просто тыжпрограммист, считаю с 0
in оооо
in тогда все ясно)
out И так, мы отвлеклись. С каким животным то ассоциации?
in мой папа сказал, что я лисур
in лол)
out Лул, почему?) И сама ты себя с кем ассоциациируешь?
in нужно меня знать, чтобы понять его прикол)
in я коала или лиса)
in НЕЕЕЕЕЕТ
in знаю
in черт
in как я могла забыть
in Я МЕГАЛОДОН<img class="emoji  js-smile-img">
out Звучит угрожающе)
in даааа<img class="emoji  js-smile-img">
out То есть при личном встрече мне милицию вызывать?
in тогда лучше не видеться <img class="emoji  js-smile-img">
out Испугалась?)
in да <img class="emoji  js-smile-img">
out Ну учитывая что ты мегалодон
out Бояться стоит милиции
out Ладно, обещаю не вызывать их, если обещаешь не пртистовать ко мне
in тут уж как получится)
out А вот это уже звучит интригующе)