out Привет
in Привет
out Че кого? Что побудило зарегистрироваться тут?
in Подруга сказала скачать
in Я и скачала <img class="emoji  js-smile-img">
out А если подруга скажет, допустим, с крыши прыгнуть, прыгнешь?)
in Нет)
out Ладно, как жизнь вообще? Чем увлекаешься?
in Особых увлечений нет
in Т.к. много времени на учёбу уходит
in Увлекаюсь сном <img class="emoji  js-smile-img">
out Довольно интересное увлечение, а главное полезное. Как говорится, в здоровом теле-&gt;здоровый сон
out А на кого учишься, если не секрет
in На препода
in Химии и биологии
out Никогда не давались эти предметы<img class="emoji  js-smile-img">
in Мне химия до сих пор не даётся <img class="emoji  js-smile-img">
in Просто отдельной специальности биология нет
out Ну что тут сказать, земля тебе пуховик, держись)
out А если увлекаешься сном, то чего не спишь ещё?
in Я днём нормас поспала так)
out Мое увОжение
out Я наоборот пытаюсь не давать себе спать днем
out А то ночью фиг уснешь
out Лежишь и думаешь о жизни
in Чтобы потом нормас ночью спать?
out Ага
out Но пока что безуспешно)
out Так, странный вопрос. Как бы ты описала закат слепому?
in Даже не знаю
in Сказала бы, что это завораживающее зрелище, когда уже не день но ещё и не ночь
in Что последние лучи солнца приятно согревают напоследок
in как-то так
out Красиво звучит
out С каким животным ты ассоциируешь себя?
in Ты что психолог?
in Что происходит?)
in Допустим с кроликом
out Потому что он милый? А вообще да, люблю странные вопросы
in Бывает)