out Привет
in Привет
out Ну и шо побудило зарегистрироваться тут?
in Грустно и одиноко
in Ахаха
out Словил какой-то диссонанс
out Грустно и ахаха
out И как, веселят тебя местные парни?
in Ну не очень
in <img class="emoji  js-smile-img">
out Ой, я кажется отключился ночью)
out Как бы ты описала закат слепому человеку?
in Не знаю
in <img class="emoji  js-smile-img">
in Зачем кому-то что-то описывать
out Допустим я слепой и мне очень интересно что это и как это
in Не знаю даже
in Надо думать
out Могу поспрашивать ещё странные вопросы, а ты можешь рассказать о себе, чем увлекаешься, как время свободное проводишь?
in Мне 19
in Учусь в бгту
in 3курс
in Времени свободного мало
in Учеба
in Фильмы смотрю
in С друзьями отдыхаю
out А на кого учишься?
in Инженер химик
out Ля, никогда не мог в химию
in Плохо <img class="emoji  js-smile-img">
out Почему же?
in Она интересная
out Она сложная
out Если мне химия сможет изучить любовь
out Вот тогда да
in Было бы неплохо
out Ты можешь помочь изучить
in Могу)
out Мы же не про химию?
in Про химию<img class="emoji  js-smile-img">
in А то во втором мне самой помощь нужна
out Вот и я в такой же ситуации
out Только взаимопомощь видимо справится
in Видимо да
out Видимо тогда нам надо встретиться как-нибудь
out Чего не спишь кстати?
in Как будто заставили
in Ахахаха
in Сейчас пойду уже,не хотелось
in А ты чего?
out Заставили... Судьба заставила) а я ютубчик решил посмотреть
in Заставили <img class="emoji  js-smile-img">
in Ладно я спать
in Спокойной ночи
out Спокойной, сладких снов
in Тебе тоже