out Привет<img class="emoji  js-smile-img">
in Привет
out Че кого? Какими судьбами тут?
in Да скучно
out Тогда выбирай:странное или серьёзное?
in Странное
out Как бы ты описала закат слепому?
in <img class="emoji  js-smile-img">
out Ты сама сделала выбор<img class="emoji  js-smile-img">
in Это сложно
out Ну подумой
in Ну можно включить видео где объясняют , описывают это
out Понял-принял
out С каким животным ты ассоциируешь себя?
in Собака
out Если не секрет, посему?
in Ну мне нравится
out Понял-принял
out Если бы у тебя была машина времени и возможность исправить одну ошибку, то чтобы ты делала?
in Вернула бы девственность
out Вот кто ошибка
out Ето*
out Если бы ты попала на необитаемый остров, то кого и что(по 1 штуке) ты бы взяла с собой?
in Телефон, зарядное и электричество <img class="emoji  js-smile-img">
out И что бы ты с ними делала?
in Общение
out Без интернета?
in С ним